body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace; /* Replace with your chosen terminal font */
}

.terminal-window {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  overflow: hidden;
}

.terminal-content {
  width: 100%;
  max-width: 800px; /* Adjust as needed */
  padding: 1rem;
}

.terminal-welcome {
  white-space: pre-wrap;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: #888888; /* Light gray color */
  overflow: hidden;
}

.terminal-info {
  font-size: 0.9rem;
  line-height: 1.2;
  color: #888888; /* Light gray color */
}

.info-line {
  display: grid;
  grid-template-columns: auto 0.5fr auto 1fr; /* Adjust as needed */
  gap: 0.5rem; /* Adjust spacing between cells */
}

.info-label {
  font-weight: bold;
  display: block;
  min-width: 125px; /* Adjust as needed for alignment */
  text-align: left; /* Align labels to the right */
}

.terminal-prompt {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0.5rem;
  color: #cccccc; /* Light gray color for prompt */
}

.command-prompt {
  margin-right: 0.5rem;
}

.command-input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  width: calc(100% - 1rem); /* Adjust as needed */
  caret-color: white; /* Cursor color */
  cursor: text; /* Set cursor to text style */
}

.command-input::placeholder {
  color: transparent; /* Hide placeholder text */
}

.command-input:focus {
  outline: none; /* Remove focus outline */
}

.terminal-link {
  color: #888888;
  text-decoration: none;
}

.terminal-link:hover {
  text-decoration: underline;
}

.terminal-link svg {
  vertical-align: middle;
  margin-right: 5px;
}

.ascii-art {
  white-space: pre;
  font-family: "Courier New", Courier, monospace;
  color: #ffffff; /* Set your desired color */
  margin-bottom: 20px;
}
